.box {
    background: rgb(217, 221, 222);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
body{
    display:flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}